<mat-toolbar class="toolbar">
    <div class="toolbarContent-left">
        <button mat-icon-button class="menu-btn">
          <mat-icon class="menu-icon">menu</mat-icon>
        </button>
        <span class="toolbar-title">FlightSeeker</span>
        <button mat-raised-button class="home-btn">Home</button>
        <button mat-raised-button class="explore-btn">Explore</button>
    </div>
    <div class="toolbarContent-right">
        <button mat-icon-button class="account-btn">
            <mat-icon class="account-icon">account_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
  