app-navbar{
    margin: 0;
    padding: 0;
}
.error-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-flight-found{
    text-align: center;
    font-size: 50px;
}
.flights-container {
    width: 100%;
    height: 100%;
    display: flex;            
    flex-direction: row;     
    justify-content: start;  
    align-items: start;      
    flex-wrap: nowrap; 
    gap: 4%;
    margin-left: 4%;       
    margin-top: 50px;
}

app-flight-card {
    max-width: 30%;
    height: 25%;
}
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  