app-navbar{
    margin: 0;
    padding: 0;
}
.error-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.no-flight-found{
    text-align: center;
    font-size: 50px;
}
.flights-container {
    width: 100%;
    height: 100%;
    display: flex;            
    flex-direction: row;     
    justify-content: flex-start;  
    align-items: flex-start;      
    flex-wrap: wrap; /* Ensure items wrap to the next line */
    gap: 4%; /* Space between the items */
    margin-left: 1%;       
    margin-top: 50px;
}

app-flight-card {
    max-width: 30%;
}




.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
  