/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Times New Roman', Times, serif, sans-serif !important; }
h1, h2, h3, h4, p, a, span, input{
    font-family: 'Times New Roman', Times, serif, sans-serif !important;
}
a:hover{
    color: lightcoral;
}